.icon1{ background:url("icon1.png") top left no-repeat; }
._r3_c10{ width:50px; height:48px; background-position:-10px -10px; }
._r3_c6{ width:23px; height:20px; background-position:-10px -68px; }
._r5_c2{ width:14px; height:19px; background-position:-43px -68px; }
._r10_c2{ width:54px; height:18px; background-position:-10px -98px; }
._r12_c2{ width:16px; height:16px; background-position:-10px -126px; }
._r6_c7{ width:15px; height:14px; background-position:-36px -126px; }
._r2_c2{ width:12px; height:12px; background-position:-10px -152px; }
._r14_c2{ width:12px; height:12px; background-position:-32px -152px; }

